/* navigation start */
.my-navbar {
  background-color: #c2f6ff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.my-brand {
  font-size: 1.5rem;
  color: #333;
}

/* navigation end */
