/* navigation start */
.my-navbar {
  background-color: #c2f6ff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.my-brand {
  font-size: 1.5rem;
  color: #333;
}
a.my-brand {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
button {
  border: none !important;
}
.navbar {
  justify-content: right;
}

.nav-link.active {
  color: orange !important;
}
@media screen and (max-width: 767px) {
  .navbar {
    justify-content: center;
  }
  a.my-brand {
    position: unset;
  }
}
/* navigation end */
