/* navigation start */
.my-navbar {
  background-color: #c2f6ff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.my-brand {
  font-size: 1.5rem;
  color: #333;
}
a.my-brand {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
button {
  border: none !important;
}
.navbar {
  justify-content: right;
}

.nav-link.active {
  color: orange !important;
}
@media screen and (max-width: 767px) {
  .navbar {
    justify-content: center;
  }
  a.my-brand {
    position: unset;
  }
}
/* navigation end */

form {
  background-color: #f2f2f2;
  padding: 80px 100px;
  border-radius: 10px;
  margin-top: 100px;
}
form h3 {
  margin-bottom: 25px;
}

.form-group label {
  display: block;
}
input {
  margin-bottom: 15px;
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 2px solid black;
  background: transparent;
}
input:focus,
textarea:focus {
  outline: none;
}
input[type="checkbox"] {
  margin-right: 5px;
}
textarea {
  margin: 15px 0px 15px 0px;
  width: 100%;
  padding: 5px;
  border: none;
  border-left: 2px solid black;
  background: transparent;
}
textarea {
  height: 120px;
}
input[type="checkbox"],
input[type="submit"] {
  width: unset;
  background-color: black;
  border: none;
  color: #c2f6ff;
  padding: 10px 30px;
  border-radius: 5px;
}
